@page "/variaveis"

<h3>Variáveis</h3>

<p>
    A variável <b>idade</b> contém o valor: @idade<br/>
    A variável <b>sol</b> comtém o valor: @sol<br/>
    A variável <b>chuva</b> comtém o valor: @chuva<br/>
    A variável <b>salario</b> comtém o valor: @salario<br/>
    A variável <b>desconto</b> comtém o valor: @desconto<br/>
    A variável <b>nome</b> comtém o valor: @nome<br/>
    A variável <b>endereco</b> comtém o valor: @endereco<br/>


</p>


@code {

    int idade = 10;
    Boolean sol = true;
    bool chuva = false;
    double salario = 2500.45;
    Double desconto = 226.35;
    string nome = "André Campos";
    String endereco = "Rua das Acácias";

}
